---
// src/pages/contacto.astro
import MainLayout from '../layouts/MainLayout.astro';
import ContactoForm from '../components/ContactoForm.astro';
---
<MainLayout title="Contacto">
    <h1>Página de Contacto</h1>
    <ContactoForm client:visible />
</MainLayout>