---
import { Image } from 'astro:assets';
import iconScroll from '@/assets/images/icon/iconScroll.svg';
import MainLayout from "../layouts/MainLayout.astro";
import ContactoForm from '../components/ContactoForm.astro';
import '@/styles/pages/contacto.scss';
---

<MainLayout title="Studio Models | Contacto">
  <section class="bienvenidosPrincipal Contacto">
    <section class="textoPrincipal">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="contenidoTexto loaded">
              <div class="textoH1"><h1>Contacto</h1></div>
              <div class="textoH6">
                <h6>
                  ¿Está lista para ser parte de nuestro grupo de trabajo y hacer
                  sus sueños realidad?
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="flechaBajar Index text-center">
      <a class="flcBajar" href="#contactoPrincipal">
        <Image src={iconScroll} alt="icon scroll" />
      </a>
    </section>
    <section class="imgP"></section>
  </section>

  <main class="contactoPrincipal" id="contactoPrincipal">
    <div class="container">
      <div class="row">
        <div id="formulario" class="col-sm-11 col-md-6 col-lg-5">
          <h2 class="text-center animado">Contáctenos</h2>
          <ContactoForm />
        </div>
        <div class="info col-sm-11 col-md-6 col-lg-5 animado">
          <article>
            <p class="text-justify">
              Escríbanos y nos comunicaremos con usted, además del formulario
              puede contactarse con nosotros por WhatsApp, Facebook o a
              info@estudiopenthouse.com, le aseguramos proteger su anonimato y
              privacidad en todas nuestras comunicaciones.
            </p>
            <h4 class="text-center">
              ESTAREMOS ATENTOS DE RESPONDER TODAS SUS INQUIETUDES
            </h4>
          </article>
        </div>
      </div>
    </div>
  </main>
</MainLayout>

