---
import MainLayout from '../layouts/MainLayout.astro';
import Nosotros from '../components/Nosotros.astro';
import Beneficios from '../components/Beneficios.astro';
import Alianzas from '../components/Alianzas.astro';

---
<MainLayout title="Studio Models | Inicio">
  <section class="bienvenidosPrincipal">
    <section class="textoPrincipal">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="contenidoTexto loaded">
              <h1 class="text-center titulo1">Studio Models</h1>
              <h6 class="text-center titulo1">Un lugar moderno, exclusivo y sofisticado para tus modelos</h6>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="flechaBajar Index text-center">
      <a class="flcBajar" href="#nosotrosIndex">
        <img src="/images/icon/iconScroll.svg" alt="icon scroll">
      </a>
    </section>
    <section class="imgP"></section>
  </section>

  <Nosotros />

  <Beneficios />

  <Alianzas />

  <article class="galeriaIndex">
    <div class="container">
      <div class="row">
        <h2 class="text-center animado animacionS">Galerías</h2>
        <section class="col-12 col-lg-11">
          <section class="galerias">
            <div class="grid">
              <div class="animadoI item item--large animado animacionS">
                <h5>Galería 1</h5>
                <a href="/galeria">
                  <h3>Ver Galería</h3>
                </a>
              </div>
              <div class="animadoI item item--large animado animacionS">
                <h5>Galería 2</h5>
                <a href="/galeria">
                  <h3>Ver Galería</h3>
                </a>
              </div>
            </div>
          </section>
        </section>
      </div>
    </div>
  </article>
</MainLayout>

<style>
  .bienvenidosPrincipal .imgP {
    background-image: url(/images/backgrounds/hero_index.jpg);
    background-attachment: fixed;
  }

  .galeriaIndex {
    .item {
      &:nth-child(1) {
        background-image: url(/images/backgrounds/img_galeria_index.jpg);
      }
      &:nth-child(2) {
        background-image: url(/images/backgrounds/img_galeria_index.jpg);
      }
    }
  }
</style>
