---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Studio Models | Ventajas">
  <section class="bienvenidosPrincipal Ventajas">
    <section class="textoPrincipal">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="contenidoTexto loaded">
              <div class="textoH1"><h1>Ventajas</h1></div>
              <div class="textoH6">
                <h6>
                  Para tener éxito como modelo webcam necesita estar rodeada de
                  profesionales...
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="flechaBajar Index text-center">
      <a class="flcBajar" href="#ventajasPrincipal"
        ><img src="/images/icon/iconScroll.svg" alt="icon scroll" /></a
      >
    </section>
    <section class="imgP"></section>
  </section>

  <main class="ventajasPrincipal" id="ventajasPrincipal">
    <div class="container">
      <div class="row">
        <article class="col-12 ventajasMobile">
          <h2 class="text-center animado">Ventajas</h2>
          <p class="txtVentajas animado">
            Esta actividad tiene grandes Beneficios...
          </p>
          <section class="ventaja col-12 col-sm-7 animado">
            <div class="imgVentaja"></div><div class="txtVentaja">
              <h3>Atención</h3><p>
                Estaremos disponibles para usted las 24 horas del dia...
              </p>
            </div>
          </section>
          <section class="ventaja col-12 col-sm-7 animado">
            <div class="imgVentaja"></div><div class="txtVentaja">
              <h3>Privacidad</h3><p>
                Toda la documentación e información que nos suministre...
              </p>
            </div>
          </section>
          <section class="ventaja col-12 col-sm-7 animado">
            <div class="imgVentaja"></div><div class="txtVentaja">
              <h3>Streamate</h3><p>
                Esta página a pesar de ser una de las más grandes ya no
                brinda...
              </p>
            </div>
          </section>
          <section class="ventaja col-12 col-sm-7 animado">
            <div class="imgVentaja"></div><div class="txtVentaja">
              <h3>Pagos</h3><p>
                Nosotros pagamos inmediatamente terminado el periodo...
              </p>
            </div>
          </section>
          <section class="ventaja col-12 col-sm-7 animado">
            <div class="imgVentaja"></div><div class="txtVentaja">
              <h3>Premios</h3><p>
                Premiamos a nuestras modelos en diferentes ocasiones...
              </p>
            </div>
          </section>
        </article>

        <article class="col-12 col-lg-11 ventajasDesktop">
          <h2 class="text-center animado">Ventajas</h2>
          <p class="txtVentajas animado">
            Esta actividad tiene grandes Beneficios...
          </p>
          <section class="ventaja animado">
            <div class="imgVentaja"></div><div class="txtVentaja">
              <h3>Atención</h3><p>
                Estaremos disponibles para usted las 24 horas...
              </p><h4>Detalles</h4><p>
                Puede contactarnos vía whatsapp, facebook...
              </p>
            </div>
          </section>
          <section class="ventaja animado">
            <div class="txtVentaja">
              <h3>Privacidad</h3><p>
                Toda la documentación e información que nos suministre...
              </p><h4>Detalles</h4><p>
                Nuestra empresa brinda seriedad y cumplimiento...
              </p>
            </div><div class="imgVentaja"></div>
          </section>
          <section class="ventaja animado">
            <div class="imgVentaja"></div><div class="txtVentaja">
              <h3>Streamate</h3><p>
                Esta página a pesar de ser una de las más grandes...
              </p><h4>Detalles</h4><p>
                Gracias a nuestra experiencia, alianzas y dedicación...
              </p>
            </div>
          </section>
          <section class="ventaja animado">
            <div class="txtVentaja">
              <h3>Pagos</h3><p>
                Nosotros pagamos inmediatamente terminado el periodo...
              </p><h4>Detalles</h4><p>
                Nuestra larga trayectoria nos ha permitido obtener...
              </p>
            </div><div class="imgVentaja"></div>
          </section>
          <section class="ventaja animado">
            <div class="imgVentaja"></div><div class="txtVentaja">
              <h3>Premios</h3><p>
                Premiamos a nuestras modelos en diferentes ocasiones...
              </p><h4>Detalles</h4><p>
                Siempre pensamos en el bienestar de nuestras modelos...
              </p>
            </div>
          </section>
        </article>
      </div>
    </div>
  </main>
</MainLayout>

<style>
  /* Estilos para la sección de bienvenida específica */
  .bienvenidosPrincipal.Ventajas .imgP {
    background-image: url(/images/backgrounds/hero_ventajas.jpg);
    background-attachment: fixed;
    background-position: right;
  }
  .bienvenidosPrincipal.Ventajas .imgP.blurImg {
    filter: blur(4px);
  }
  /* ...otros estilos de la sección de bienvenida... */

  /* Estilos para la sección de ventajas */
  .ventajasPrincipal {
    border-top: 2px solid #47254f;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: #0d0e19;
  }

  /* Estilos de ventajas para móvil */
  .ventajasMobile .ventaja {
    margin: 1.5rem auto;
    max-width: 290px; /* ... */
  }
  .ventajasMobile .ventaja .imgVentaja {
    width: 100%;
    height: 270px; /* ... */
  }
  .ventajasMobile .ventaja:nth-of-type(1) .imgVentaja {
    background-image: url(/images/backgrounds/img_galeria_index.jpg);
  }
  .ventajasMobile .ventaja:nth-of-type(2) .imgVentaja {
    background-image: url(/images/backgrounds/img_galeria_index.jpg);
  }
  .ventajasMobile .ventaja:nth-of-type(3) .imgVentaja {
    background-image: url(/images/backgrounds/img_galeria_index.jpg);
  }
  .ventajasMobile .ventaja:nth-of-type(4) .imgVentaja {
    background-image: url(/images/backgrounds/img_galeria_index.jpg);
  }
  .ventajasMobile .ventaja:nth-of-type(5) .imgVentaja {
    background-image: url(/images/backgrounds/img_galeria_index.jpg);
  }

  /* Estilos de acompañamiento para móvil */
  .acompMobile .cargo .imgCargo {
    height: 310px; /* ... */
  }
  .acompMobile .cargo:nth-of-type(1) .imgCargo {
    background-image: url(/images/backgrounds/img_galeria_index.jpg);
  }
  .acompMobile .cargo:nth-of-type(2) .imgCargo {
    background-image: url(/images/backgrounds/img_galeria_index.jpg);
  }
  .acompMobile .cargo:nth-of-type(3) .imgCargo {
    background-image: url(/images/backgrounds/img_galeria_index.jpg);
  }
  .acompMobile .cargo:nth-of-type(4) .imgCargo {
    background-image: url(/images/backgrounds/img_galeria_index.jpg);
  }
  .acompMobile .cargo:nth-of-type(5) .imgCargo {
    background-image: url(/images/backgrounds/img_galeria_index.jpg);
  }
  .acompMobile .cargo:nth-of-type(6) .imgCargo {
    background-image: url(/images/backgrounds/img_galeria_index.jpg);
  }

  /* Ocultar las versiones de escritorio en móvil */
  .ventajasDesktop,
  .acompDesktop,
  .acompPrincipal {
    display: none;
  }

  /* Estilos para ESCRITORIO (a partir de 768px) */
  @media (min-width: 768px) {
    .ventajasMobile,
    .acompMobile {
      display: none; /* Ocultamos las versiones móviles */
    }
    .ventajasDesktop,
    .acompDesktop,
    .acompPrincipal {
      display: block; /* Mostramos las versiones de escritorio */
    }
    .acompPrincipal {
      background: linear-gradient(to right, #1c2033, #0d0e19);
      border-top: 2px solid #47254f;
    }

    /* Animaciones y layout de escritorio para Ventajas */
    .ventajasDesktop .ventaja {
      display: flex; /* ... */
    }
    .ventajasDesktop .ventaja .imgVentaja {
      width: 50%;
    }
    .ventajasDesktop .ventaja .txtVentaja {
      width: 50%; /* ... */
    }
    .ventajasDesktop .ventaja:nth-of-type(even) {
      flex-direction: row-reverse;
    }
    .ventajasDesktop .ventaja:nth-of-type(1) .imgVentaja {
      background-image: url(/images/backgrounds/img_galeria_index.jpg);
    }
    .ventajasDesktop .ventaja:nth-of-type(2) .imgVentaja {
      background-image: url(/images/backgrounds/img_galeria_index.jpg);
    }
    .ventajasDesktop .ventaja:nth-of-type(3) .imgVentaja {
      background-image: url(/images/backgrounds/img_galeria_index.jpg);
    }
    .ventajasDesktop .ventaja:nth-of-type(4) .imgVentaja {
      background-image: url(/images/backgrounds/img_galeria_index.jpg);
    }
    .ventajasDesktop .ventaja:nth-of-type(5) .imgVentaja {
      background-image: url(/images/backgrounds/img_galeria_index.jpg);
    }
    /* ... otros estilos de escritorio que estaban en master.css ... */

    /* Animaciones y layout de escritorio para Acompañamiento */
    .acompDesktop .sectionAcomp {
      display: flex;
    }
    .acompDesktop .cargo {
      display: flex;
      width: 50%; /* ... */
    }
    .acompDesktop .sectionAcomp:nth-of-type(1) .cargo:nth-of-type(1) .imgCargo {
      background-image: url(/images/backgrounds/img_galeria_index.jpg);
    }
    .acompDesktop .sectionAcomp:nth-of-type(1) .cargo:nth-of-type(2) .imgCargo {
      background-image: url(/images/backgrounds/img_galeria_index.jpg);
    }
    /* ... y así para el resto de imágenes de acompañamiento ... */
  }
</style>
