---
// src/components/Footer.astro
// Este componente no necesita JavaScript, solo HTML y los estilos de master.css
import '@/styles/components/Footer.scss';
import { Image } from 'astro:assets';
import iconFacebook from '@/assets/images/iconSocial/iconFacebook.svg';
import iconInstagram from '@/assets/images/iconSocial/iconInstagram.svg';
---
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-11 col-xl-10 mt-4 mb-5">
        <h2>Contacto</h2>
        <ul class="footerPaginas">
          <li><span>Empresa</span></li>
          <li><a href="/ventajas">Ventajas</a></li>
          <li><a href="/preguntas">Preguntas</a></li>
          <li><a href="/contacto">Contacto</a></li>
        </ul>
        <ul class="footerDatos">
          <li><span>Ayuda y Soporte</span></li>
          <li>
            <a href="https://api.whatsapp.com/send?phone=000000" target="_blank">(+00) 000 000</a>
          </li>
          <li>
            <a href="mailto:info@info.com">info@info.com</a>
          </li>
          <li>Colombia</li>
        </ul>
        <ul class="footerAlianzas">
          <li><span>Alianzas</span></li>
          <li><a href="/" target="_blank">Item 1</a></li>
          <li><a href="/" target="_blank">Item 2</a></li>
          <li><a href="/" target="_blank">Item 3</a></li>
        </ul>
        <ul class="footerRedes">
          <li><span>Visítenos</span></li>
          <li>
            <a class="iconF" href="https://www.facebook.com/" target="_blank">
              <Image src={iconFacebook} alt="facebook" />
            </a>
            <a class="iconI" href="https://www.instagram.com/" target="_blank">
              <Image src={iconInstagram} alt="instagram" />
            </a>
          </li>
        </ul>
      </div>
      <div class="footerInferior col-12 col-lg-11">
        <a class="iconF" href="https://www.facebook.com/" target="_blank">
          <Image src={iconFacebook} alt="facebook" />
        </a>
        <a class="iconI" href="https://www.instagram.com/" target="_blank">
          <Image src={iconInstagram} alt="instagram" />
        </a>
        <p>Website developed during my time working with the company. Use only for personal portfolio.</p>
      </div>
    </div>
  </div>
</footer>

