---
// src/components/Header.astro
---

<header class="header fixed-top headerMobile">
  <div class="container">
    <a href="/">
      <img class="logoPrincipal" src="/images/logoPenthouseStudio.png" alt="logo estudio penthouse">
    </a>
    <a class="btnMenu contenedorBoton" href="#menuPrincipal">
      <div class="line"></div>
    </a>
    <nav id="menuPrincipal">
      <ul class="ulMenu">
        <li class:list={[{ active: Astro.url.pathname === '/' }]}>
          <a href="/">Inicio</a>
        </li>
        <li class:list={[{ active: Astro.url.pathname === '/ventajas' }]}>
          <a href="/ventajas">Ventajas</a>
        </li>
        <li class:list={[{ active: Astro.url.pathname === '/galeria' }]}>
          <a href="/galeria">Galería</a>
        </li>
        <li class:list={[{ active: Astro.url.pathname === '/preguntas' }]}>
          <a href="/preguntas">Preguntas</a>
        </li>
        <li class:list={[{ active: Astro.url.pathname === '/contacto' }]}>
          <a href="/contacto">Contacto</a>
        </li>
      </ul>
      <ul class="redesSociales">
        <li class="iconF">
          <a href="https://www.facebook.com/GBGrupoBedoya/" target="_blank">
            <img src="/images/iconSocial/iconFacebook.svg" alt="icon facebook">
          </a>
        </li>
        <li class="iconI">
          <a href="https://www.instagram.com/grupo.bedoya/" target="_blank">
            <img src="/images/iconSocial/iconInstagram.svg" alt="icon instagram">
          </a>
        </li>
        <li class="iconT">
          <a href="https://twitter.com/grupobedoya" target="_blank">
            <img src="/images/iconSocial/iconTwitter.svg" alt="icon twitter">
          </a>
        </li>
        <li class="iconY">
          <a href="https://www.youtube.com/c/GrupoBedoyaEstudio" target="_blank">
            <img src="/images/iconSocial/iconYoutube.svg" alt="icon youtube">
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<header class="header fixed-top headerDesktop">
  <div class="container">
    <a href="/">
      <img id="logo" src="/images/logoPenthouseStudio.png" alt="logo estudio penthouse">
    </a>
    <nav id="menuDesktop">
      <ul class="ulMenu">
        <li class:list={[{ active: Astro.url.pathname === '/' }]}>
          <a href="/">Inicio</a>
        </li>
        <li class:list={[{ active: Astro.url.pathname === '/ventajas' }]}>
          <a href="/ventajas">Ventajas</a>
        </li>
        <li class:list={[{ active: Astro.url.pathname === '/galeria' }]}>
          <a href="/galeria">Galería</a>
        </li>
        <li class:list={[{ active: Astro.url.pathname === '/preguntas' }]}>
          <a href="/preguntas">Preguntas</a>
        </li>
        <li class:list={[{ active: Astro.url.pathname === '/contacto' }]}>
          <a href="/contacto">Contacto</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<script>
  // --- Lógica del Menú Móvil ---
  const menuButton = document.querySelector('.contenedorBoton');
  if (menuButton) {
    const line = document.querySelector('.line');
    const menuPrincipal = document.getElementById('menuPrincipal');

    menuButton.addEventListener('click', (e) => {
      e.preventDefault();
      if (line) line.classList.toggle('animate');
      if (menuPrincipal) menuPrincipal.classList.toggle('mostrarMenu');
    });
  }

  // --- Lógica del Header Fijo (Sticky) ---
  const headerDesktop = document.querySelector('.headerDesktop');
  const headerMobile = document.querySelector('.headerMobile');
  
  // El elemento .imgP solo existe en la página de inicio.
  // Lo buscamos aquí para evitar errores en otras páginas.
  const imgP = document.querySelector('.imgP');

  window.addEventListener('scroll', () => {
    if (window.scrollY >= 20) {
      if (headerDesktop) headerDesktop.classList.add('headerFijo');
      if (headerMobile) headerMobile.classList.add('headerFijo');
      if (imgP) imgP.classList.add('blurImg');
    } else {
      if (headerDesktop) headerDesktop.classList.remove('headerFijo');
      if (headerMobile) headerMobile.classList.remove('headerFijo');
      if (imgP) imgP.classList.remove('blurImg');
    }
  });
</script>