---
import '../styles/master.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const recaptchaSiteKey = import.meta.env.PUBLIC_RECAPTCHA_SITE_KEY;

export interface Props {
	title: string;
}

const { title } = Astro.props;
---
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{title}</title>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/glightbox.min.css">

  <script is:inline src={`https://www.google.com/recaptcha/api.js?render=${recaptchaSiteKey}`}></script>
</head>
<body class="body loaded">
  <Header />
  <slot />
  <Footer />

  <script src="/js/scroll-animation.js" is:inline></script>
  
  <script>
    window.addEventListener('load', () => {
      setTimeout(() => {
        document.body.classList.add('loaded');
        const contenidoTexto = document.querySelector('.textoPrincipal .contenidoTexto');
        if (contenidoTexto) {
          contenidoTexto.classList.add('loaded');
        }
      }, 2000);
    });
  </script>
</body>
</html>